<!doctype html>
<html>
<head>
<meta charset="UTF-8">
{% load static %}
<title>Welocalize // wevoice</title>
<link href="{% static "main.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
<table width="1000" border="0" cellpadding="0" cellspacing="0" class="maintable">
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="topheader">
        <tr>
          <td style="text-align:left"><img src="{% static "logo_h45.png" %}" width="184" height="45" alt=""/></td>
          <td style="text-align:center" width="17%"><a href="/apple/for_approval" class="aclient">FOR APPROVAL</a></td>
          <td style="text-align:center" width="17%"><a href="/apple/accepted" class="aclient">ACCEPTED</a></td>
          <td style="text-align:center" width="17%"><a href="/apple/rejected" class="aclient">REJECTED</a></td>
          <td style="text-align:center" width="17%"><a href="/" class="aclient">LOG OUT</a></td>
        </tr>
      </table><table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div style="text-align:center; font-size:30px; font-weight:bold"><img src="http://localhost:8000/static/logo_h45.png" alt=""/><br/><br/>welcome to <span style="color:#DD4F05">we</span>voice</div><br/>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td></tr></table></td>
  </tr>
  <tr>
    <td style="text-align:right; background-color: #FFFFFF" class="copyright">&copy; 2014 Welocalize | <a href="mailto:wevoice@welocalize.com">Contact Us</a>&nbsp;&nbsp;</td>
  </tr>
</table>
</body>
</html>