{% extends 'index.html' %}
{% load static %}
{% block main %}
    {% if pro_selections %}
        <br>
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000' >
            <tr>
                <td style='text-align:left'><img alt='' height='30' src='{% static "provt.jpg" %}' width='280'></td>
            </tr>
        </table>

        {% regroup pro_selections by talent.language as selections_by_language %}
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td>
                    {% for language in selections_by_language %}
                        <br>
                        <div style='text-align:left; font-size:12px; font-weight:bold'>{{ language.grouper|upper }}
                        </div>
                        <div style='font-size:xx-small; line-height:2px; height:2px'>
                            <img alt='' height='2px' src='{% static "space.png" %}' width='2px'>
                        </div>
                        <table cellpadding='0' cellspacing='0' class='talent_admin_table' width='100%'>
                            <tr>
                                <td class='talent_admin_table_header' width='20%'>ID</td>
                                <td class='talent_admin_table_header' width='7%'>GENDER</td>
                                <td class='talent_admin_table_header' width='7%'>AGE RANGE</td>
                                <td class='talent_admin_table_header' width='26%'>COMMENTS / RATING</td>
                                <td class='talent_admin_table_header' width='13%'>LISTEN</td>
                                <td class='talent_admin_table_header' width='22%'>STATUS</td>
                            </tr>
                            {% for selection in language.list %}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.gender }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.age_range }}</td>
                                    <td class='talent_admin_table'>
                                        {% if selection.comments.count > 0 %}
                                            <a href="{% url 'for_approval' client_name=selection.client.username pk=selection.pk  %}">
                                                {{ selection.comments.count }}&nbsp;{% if selection.comments.count > 1 %}Comments{% else %}Comment{% endif %}
                                            </a>
                                        {% else %}
                                            {{ selection.comments.count }}&nbsp;Comments
                                        {% endif %}
                                        {% if selection.talent.average_rating > 0 %}| Rated: {{ selection.talent.times_rated }} times | Rating: {{ selection.talent.average_rating }} out of 5{% endif %}
                                    </td>
                                    <td class='talent_admin_table'>
                                        <audio class='player' preload='none' src='{% static selection.talent.sample_url %}'></audio>
                                        <a href='{% static selection.talent.sample_url %}' target='_blank'>
                                            <img alt='' class='download_button' height='16' src='{% static "downld.png" %}' width='16'>
                                        </a>
                                    </td>

                                    <td class='talent_admin_table'>
                                        <form action='/{{ selection.client.username }}/for_approval/' method='post'>{% csrf_token %}
                                            <input name='talent_id' type='hidden' value='{{ selection.talent.id }}'>
                                            <input name='client_id' type='hidden' value='{{ selection.client.id }}'>
                                            <input class='submitboxes03' name='submit' type='submit' value='ACCEPT'>
                                            <input class='submitboxes03' name='submit' type='submit' value='REJECT'>
                                        </form>
                                    </td>
                                </tr>
                                {% if pk == selection.pk %}
                                <tr>
                                    <td class='comment_admin_table_header' >ID</td>
                                    <td class='comment_admin_table_header' >DEL</td>
                                    <td colspan='2' class='comment_admin_table_header' >COMMENT</td>
                                    <td class='comment_admin_table_header' >DATE</td>
                                    <td class='comment_admin_table_header' >AUTHOR</td>
                                </tr>
                                {% for comment in selection.comments.all %}
                                <tr>
                                    <td class='talent_comment_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_comment_table'>
                                        <form method="POST" action="{% url 'delete_comment' client_name=client.username pk=selection.pk   %}" >
                                            {% csrf_token %}
                                            <input name='comment_id' type='hidden' value='{{ comment.id }}'>
                                            <input id='delete_button' name='delete' type='submit' alt='delete' value=''>
                                        </form>
                                    </td>
                                    <td colspan='2' class='talent_comment_table'>{{ comment.text|linebreaks }}</td>
                                    <td class='talent_comment_table'>{{ comment.created_date }}</td>
                                    <td class='talent_comment_table'>{{ comment.author }}</td>

                                </tr>
                                {% endfor %}
                                <tr>
                                    <form method="POST" action="{% url 'add_comment' client_name=client.username pk=selection.pk   %}" class="post-form">{% csrf_token %}
                                        <td colspan='4' class='talent_comment_submit'>
                                            Add Comment: {{ comment_form.text }}
                                        </td>
                                        <td colspan='2' class='talent_comment_submit'>
                                            Update Rating: {{ comment_form.rating }}&nbsp;&nbsp;
                                            <input type="submit" class='submitboxes05' value="submit">
                                        </td>
                                    </form>
                                </tr>
                                {% if not forloop.last %}
                                <tr>
                                    <td class='talent_admin_table_header' width='20%'>ID</td>
                                    <td class='talent_admin_table_header' width='7%'>GENDER</td>
                                    <td class='talent_admin_table_header' width='7%'>AGE RANGE</td>
                                    <td class='talent_admin_table_header' width='26%'>COMMENTS / RATING</td>
                                    <td class='talent_admin_table_header' width='12%'>LISTEN</td>
                                    <td class='talent_admin_table_header' width='23%'>STATUS</td>
                                </tr>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endif %}

    {% if home_selections %}
        <br>
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td style='text-align:left'><img alt='' height='30' src='{% static "hr.jpg" %}' width='280'></td>
            </tr>
        </table>

        {% regroup home_selections by talent.language as selections_by_language %}
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td>
                    {% for language in selections_by_language %}
                        <br>
                        <div style='text-align:left; font-size:12px; font-weight:bold'>{{ language.grouper|upper }}
                        </div>
                        <div style='font-size:xx-small; line-height:2px; height:2px'>
                            <img alt='' height='2px' src='{% static "space.png" %}' width='2px'>
                        </div>
                        <table cellpadding='0' cellspacing='0' class='talent_admin_table' width='100%'>
                            <tr>
                                <td class='talent_admin_table_header' width='20%'>ID</td>
                                <td class='talent_admin_table_header' width='7%'>GENDER</td>
                                <td class='talent_admin_table_header' width='7%'>AGE RANGE</td>
                                <td class='talent_admin_table_header' width='26%'>COMMENTS / RATING</td>
                                <td class='talent_admin_table_header' width='12%'>LISTEN</td>
                                <td class='talent_admin_table_header' width='23%'>STATUS</td>
                            </tr>
                            {% for selection in language.list %}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.gender }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.age_range }}</td>
                                    <td class='talent_admin_table'>
                                        {% if selection.comments.count > 0 %}
                                        <a href="{% url 'for_approval' client_name=selection.client.username pk=selection.pk  %}">{{ selection.comments.count }}</a>
                                        {% else %}
                                            {{ selection.comments.count }}
                                        {% endif %}
                                        <a class="btn btn-default" href="{% url 'add_comment' pk=selection.pk client_name=selection.client.username %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9998;</a>
                                    </td>
                                    <td class='talent_admin_table'>
                                        <audio class='player' preload='none' src='{% static selection.talent.sample_url %}'></audio>
                                        <a href='{% static selection.talent.sample_url %}' target='_blank'>
                                            <img alt='' class='download_button' height='16' src='{% static "downld.png" %}' width='16'>
                                        </a>
                                    </td>

                                    <td class='talent_admin_table'>
                                        <form action='/{{ selection.client.username }}/for_approval/' method='post'>{% csrf_token %}
                                            <input name='talent_id' type='hidden' value='{{ selection.talent.id }}'>
                                            <input name='client_id' type='hidden' value='{{ selection.client.id }}'>
                                            <input class='submitboxes03' name='submit' type='submit' value='ACCEPT'>
                                            <input class='submitboxes03' name='submit' type='submit' value='REJECT'>
                                        </form>
                                    </td>
                                </tr>
                                {% if pk == selection.pk %}
                                <tr>
                                    <td class='comment_admin_table_header' width='20%'>ID</td>
                                    <td class='comment_admin_table_header' width='7%'>&nbsp;</td>
                                    <td class='comment_admin_table_header' width='7%'>&nbsp;</td>
                                    <td class='comment_admin_table_header' width='26%'>COMMENT</td>
                                    <td class='comment_admin_table_header' width='12%'>AUTHOR</td>
                                    <td class='comment_admin_table_header' width='23%'>DATE</td>
                                </tr>
                                {% for comment in selection.comments.all %}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_admin_table'></td>
                                    <td class='talent_admin_table'></td>
                                    <td class='talent_admin_table'>{{ comment.text|linebreaks }}</td>
                                    <td class='talent_admin_table'>{{ comment.author }}</td>
                                    <td class='talent_admin_table'>{{ comment.created_date }}</td>
                                 </tr>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endif %}

    {% if tts_selections %}
        <br>
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td style='text-align:left'><img alt='' height='30' src='{% static "tts.jpg" %}' width='280'></td>
            </tr>
        </table>

        {% regroup tts_selections by talent.language as selections_by_language %}
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td>
                    {% for language in selections_by_language %}
                        <br>
                        <div style='text-align:left; font-size:12px; font-weight:bold'>{{ language.grouper|upper }}
                        </div>
                        <div style='font-size:xx-small; line-height:2px; height:2px'>
                            <img alt='' height='2px' src='{% static "space.png" %}' width='2px'>
                        </div>
                        <table cellpadding='0' cellspacing='0' class='talent_admin_table' width='100%'>
                            <tr>
                                <td class='talent_admin_table_header' width='20%'>ID</td>
                                <td class='talent_admin_table_header' width='7%'>GENDER</td>
                                <td class='talent_admin_table_header' width='7%'>AGE RANGE</td>
                                <td class='talent_admin_table_header' width='26%'>COMMENTS / RATING</td>
                                <td class='talent_admin_table_header' width='12%'>LISTEN</td>
                                <td class='talent_admin_table_header' width='23%'>STATUS</td>
                            </tr>
                            {% for selection in language.list %}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.gender }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.age_range }}</td>
                                    <td class='talent_admin_table'>
                                        {% if selection.comments.count > 0 %}
                                        <a href="{% url 'for_approval' client_name=selection.client.username pk=selection.pk  %}">{{ selection.comments.count }}</a>
                                        {% else %}
                                            {{ selection.comments.count }}
                                        {% endif %}
                                        <a class="btn btn-default" href="{% url 'add_comment' pk=selection.pk client_name=selection.client.username %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9998;</a>
                                    </td>
                                    <td class='talent_admin_table'>
                                        <audio class='player' preload='none' src='{% static selection.talent.sample_url %}'></audio>
                                        <a href='{% static selection.talent.sample_url %}' target='_blank'>
                                            <img alt='' class='download_button' height='16' src='{% static "downld.png" %}' width='16'>
                                        </a>
                                    </td>

                                    <td class='talent_admin_table'>
                                        <form action='/{{ selection.client.username }}/for_approval/' method='post'>{% csrf_token %}
                                            <input name='talent_id' type='hidden' value='{{ selection.talent.id }}'>
                                            <input name='client_id' type='hidden' value='{{ selection.client.id }}'>
                                            <input class='submitboxes03' name='submit' type='submit' value='ACCEPT'>
                                            <input class='submitboxes03' name='submit' type='submit' value='REJECT'>
                                        </form>
                                    </td>
                                </tr>
                                {% if pk == selection.pk %}
                                <tr>
                                    <td class='comment_admin_table_header' width='20%'>ID</td>
                                    <td class='comment_admin_table_header' width='7%'>&nbsp;</td>
                                    <td class='comment_admin_table_header' width='7%'>&nbsp;</td>
                                    <td class='comment_admin_table_header' width='26%'>COMMENT</td>
                                    <td class='comment_admin_table_header' width='12%'>AUTHOR</td>
                                    <td class='comment_admin_table_header' width='23%'>DATE</td>
                                </tr>
                                {% for comment in selection.comments.all %}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id }}</td>
                                    <td class='talent_admin_table'></td>
                                    <td class='talent_admin_table'></td>
                                    <td class='talent_admin_table'>{{ comment.text|linebreaks }}</td>
                                    <td class='talent_admin_table'>{{ comment.author }}</td>
                                    <td class='talent_admin_table'>{{ comment.created_date }}</td>
                                 </tr>
                                {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock main %}


