{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static "simpleplayer.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "jquery/jquery-1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery/jquery.simpleplayer.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var settings = {
                progressbarWidth: '50px',
                progressbarHeight: '5px',
                progressbarColor: '#22ccff',
                progressbarBGColor: '#eeeeee',
                defaultVolume: 0.8
            };
            $(".player").player(settings);
        });
    </script>
{% endblock extra-head %}
{% block content %}
    <table width="1000" border="0" cellpadding="0" cellspacing="0" class="maintable">
        <tr>
            <td>
                {% block nav %}
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="topheader">
                        <tr>
                            <td style="text-align:left"><img src="{% static "logo_h45.png" %}" width="184" height="45" alt=""/></td>
                            <td style="text-align:center" width="17%"><a href="{% url 'selections' client.username 'for_approval' %}" class="aclient"><span {% active_url 'for_approval' %}>FOR APPROVAL</span></a></td>
                            <td style="text-align:center" width="17%"><a href="{% url 'selections' client.username 'accepted' %}" class="aclient"><span {% active_url 'accepted' %}>ACCEPTED</span></a></td>
                            <td style="text-align:center" width="17%"><a href="{% url 'selections' client.username 'rejected' %}" class="aclient"><span {% active_url 'rejected' %}>REJECTED</span></a></td>
                            <td style="text-align:center" width="17%"><a href="/" class="aclient">LOG OUT</a></td>
                        </tr>
                    </table>
                {% endblock nav %}
                {% block main %}
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <div style="text-align:center; font-size:30px; font-weight:bold"><img src="{% static "logo_h45.png" %}" alt=""/><br/><br/>welcome to <span style="color:#DD4F05">we</span>voice</div><br/>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </table>
                {% endblock main %}
            </td>
        </tr>

        {% block footer %}
        <tr>
            <td style="text-align:right; background-color: #FFFFFF" class="copyright">&copy; 2014 Welocalize | <a href="mailto:wevoice@welocalize.com">Contact Us</a>&nbsp;&nbsp;</td>
        </tr>
        {% endblock footer %}

    </table>
{%  endblock content %}
