{% extends 'base.html' %}
{% load static %}
{% block content %}
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <form action="" method="post" autocomplete="off">{% csrf_token %}
            <table width="296" class="signintable">
              <tr>
                <td><img src="{% static "wevoicelogo.jpg" %}" width="296" height="74" alt=""/></td>
              </tr>
              <tr>
                <td><img src="{% static "signin.jpg" %}" width="216" height="51" alt=""/></td>
              </tr>
              <tr>
                <td><img src="{% static "space.png" %}" width="1" height="1" alt=""/></td>
              </tr>
              {% if form.errors %}
                <tr style="color: red;">
                    <td>Please correct the error{{ form.errors|pluralize }} below.</td>
                </tr>
              {% endif %}
              <tr>
                <td style="text-align:left">Username</td>
              </tr>
              <tr>
                <td>{{ form.username }}</td>
              </tr>
              {% if form.username.errors %}
                  <tr>
                    {% for error in form.username.errors %}
                        <td class="error-message"><strong>{{ error|escape }}</strong></td>
                    {% endfor %}
                  </tr>
              {% endif %}
              <tr>
                <td><img src="{% static "space.png" %}" width="1" height="1" alt=""/></td>
              </tr>
              <tr>
                <td style="text-align:left">Password</td>
              </tr>
              <tr>
                <td>{{ form.password }}</td>
              </tr>
              {% if form.password.errors %}
                  <tr>
                    {% for error in form.password.errors %}
                        <td class="error-message"><strong>{{ error|escape }}</strong></td>
                    {% endfor %}
                  </tr>
              {% endif %}
              <tr>
                <td><img src="{% static "space.png" %}" width="1" height="1" alt=""/></td>
              </tr>
              <tr>
                <td><input name="submit" type="submit" class="submitboxes01" value="SUBMIT" /></td>
              </tr>
                <tr>
                <td><img src="{% static "space.png" %}" width="1" height="1" alt=""/></td>
              </tr>
            </table>
        </form>
{%  endblock content %}
{% block footer %}
{% endblock footer %}