{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}

{% block breadcrumbs_last %}
{% trans "Import" %}
{% endblock %}

{% block content %}
{% if confirm_form %}
  <form action="{% url opts|admin_urlname:"process_import" %}" method="POST">
    {% csrf_token %}
    {{ confirm_form.as_p }}
    <p>
      {% trans "Below is a preview of data that will be imported. If you are satisfied with the results, click 'Confirm import'" %}
    </p>
    <div class="submit-row">
      <input type="submit" class="default" name="confirm" value="{% trans "Confirm import" %}">
    </div>
  </form>

{% else %}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>
      {% trans "This importer will import the following fields: " %}
      <code>{{ fields|join:", " }}</code>
    </p>

    <fieldset class="module aligned">
      {% for field in form %}
        <div class="form-row">
          {{ field.errors }}

          {{ field.label_tag }}

          {{ field }}

          {% if field.field.help_text %}
          <p class="help">{{ field.field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>

    <div class="submit-row">
      <input type="submit" class="default" value="{% trans "Submit" %}">
    </div>
  </form>
{% endif %}
{% if result %}
  {% if result.has_errors %}
    <h2>{% trans "Errors" %}</h2>
    <ul>
      {% for error in result.base_errors  %}
      <li>
        {{ error.error }}
        <div class="traceback">{{ error.traceback|linebreaks }}</div>
      </li>
      {% endfor %}
      {% for line, errors in result.row_errors %}
        {% for error in errors %}
          <li>
            {% trans "Line number" %}: {{ line }} - {{ error.error }}
            <div><code>{{ error.row.values|join:", " }}</code></div>
            <div class="traceback">{{ error.traceback|linebreaks }}</div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% else %}
  <h2>
    {% trans "Preview" %}
  </h2>
    {% regroup result.rows|dictsort:"import_type" by import_type as import_type_list %}
    {% for import_type in import_type_list %}
        <table>
        <col style="width:33.3%" span="3" />
        <thead>
          <tr style="color: white; background-color: #94b24d">
                <td>
                {% if import_type.grouper == 'new' %}
                    {% trans "NEW TALENTS WILL BE CREATED FOR THE FOLLOWING (NEW): There are no existing talents with the same file names or content" %}
                {% elif import_type.grouper == 'skip' %}
                    {% trans "THE FOLLOWING WILL NOT BE IMPORTED (SKIP): There are no files with these names in the uploaded set" %}
                {% elif import_type.grouper == 'duplicate' %}
                    {% trans "THE FOLLOWING WILL NOT BE IMPORTED (DUPLICATE): There are already talents with the same names and content as these files" %}
                {% elif import_type.grouper == 'replace' %}
                    {% trans "THE FOLLOWING FILES WILL REPLACE THOSE FOR EXISTING TALENTS (REPLACE): Talents exist with the same name but different content from these files" %}
                {% elif import_type.grouper == 'update' %}
                    {% trans "THE FOLLOWING FILES WILL BE USED TO UPDATE EXISTING TALENT AND FILE NAMES (UPDATE_WELO_ID): Talents exist with the same content but different names than these files" %}
                {% else %}
                    {{ import_type.grouper }}{% trans "DO STUFF BASE ON THIS GROUPER" %}
                {% endif %}
                </td>
          </tr>
          <tr style="background-color: #bbbbbb">
            {% for field in result.diff_headers %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        {% for row in import_type.list %}
            <tr>
                {% for field in row.diff %}
                    <td>
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
  {% endif %}

  {% endif %}
{% endblock %}

