{% extends 'index.html' %}
{% load static %}
{% load cache %}
{% load tags %}

{% block main %}
{#    {% cache 9999999 selections_tab status client.cache_key %}#}
    {% for dict in selection_types %}
        <br>
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000' >
            <tr>
                <td style='text-align:left'><img alt='' height='30' src='{% static dict.type %}.jpg' width='280'></td>
            </tr>
        </table>
        {% regroup dict.selections by talent.language as selections_by_language %}
        <table border='0' cellpadding='0' cellspacing='0' class='signintable' width='1000'>
            <tr>
                <td>
                    {% for language in selections_by_language %}
                        <br>
                        <div style='text-align:left; padding-left: 5px; font-size:12px; font-weight:bold'>{{ language.grouper|upper }}
                        </div>
                        <div style='font-size:xx-small; line-height:2px; height:2px'>
                            <img alt='' height='2px' src='{% static "space.png" %}' width='2px'>
                        </div>
                        <table cellpadding='0' cellspacing='0' class='talent_admin_table' width='100%'>
                            <tr>
                                <td class='talent_admin_table_header' width='28%'>ID</td>
                                <td class='talent_admin_table_header' width='7%'>GENDER</td>
                                <td class='talent_admin_table_header' width='7%'>AGE RANGE</td>
                                <td class='talent_admin_table_header' width='23%'>COMMENTS / RATING</td>
                                <td class='talent_admin_table_header' width='13%'>LISTEN</td>
                                <td class='talent_admin_table_header' width='22%'>STATUS</td>
                            </tr>
                            {% for selection in language.list %}
{#                                {% cache 9999999 selection_item status selection.cache_key %}#}
                                <tr>
                                    <td class='talent_admin_table'>{{ selection.talent.welo_id|truncatechars:50 }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.gender }}</td>
                                    <td class='talent_admin_table'>{{ selection.talent.age_range }}</td>
                                    <td class='talent_admin_table'>
                                        {% if pk == selection.pk %}
                                            <a href="{% url 'selections' client_name=selection.client.username status=status pk=0 %}">
                                                {{ selection.comments.count }}&nbsp;{% if selection.comments.count == 1 %}Comment{% else %}Comments{% endif %}&nbsp;&#9660;
                                            </a>
                                        {% else %}
                                            <a href="{% url 'selections' client_name=client.username status=status pk=selection.pk %}">
                                                {{ selection.comments.count }}&nbsp;{% if selection.comments.count == 1 %}Comment{% else %}Comments{% endif %}&nbsp;&#9654;
                                            </a>
                                        {% endif %}
                                        {% if selection.talent.average_rating > 0 %}
                                            | Rated: {{ selection.talent.times_rated }}{% if selection.talent.times_rated == 1 %} time{% else %} times{% endif %}
                                            |{% for i in 5|times %}
                                                {% if forloop.counter0 < selection.talent.average_rating %}
                                                    <span class="gold_star">☆</span>
                                                    {% else %}
                                                    <span>☆</span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td class='talent_admin_table'>
                                        <audio class='player' preload='none' src='{{ selection.talent.audio_file.url }}'></audio>
                                        <a href='{{ selection.talent.audio_file.url }}' target='_blank'>
                                            <img alt='' class='download_button' height='16' src='{% static "downld.png" %}' width='16'>
                                        </a>
                                    </td>
                                    <td class='talent_admin_table'>
                                        <form action='{% url 'selections' client_name=selection.client.username status=status pk=0 %}' method='post'>{% csrf_token %}
                                            <input name='talent_id' type='hidden' value='{{ selection.talent.id }}'>
                                            <input name='client_id' type='hidden' value='{{ selection.client.id }}'>
                                            <input class='submitboxes03{% if status == 'accepted' %}active{% endif %}' name='submit' type='submit' value='ACCEPT'>
                                            <input class='submitboxes03{% if status == 'rejected' %}active{% endif %}' name='submit' type='submit' value='REJECT'>
                                            {% if status == 'accepted' or status == 'rejected' %}
                                            <input class='submitboxes04' name='submit' type='submit' value='FOR APPROVAL'>
                                            {% endif %}
                                        </form>
                                    </td>
                                </tr>
                                {% if pk == selection.pk %}
                                    {% include 'comments.html' %}
                                {% endif %}
{#                                {% endcache %}#}
                            {% endfor %}
                        </table>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endfor %}
{#    {% endcache %}#}
{% endblock main %}
